@model MVCDemo.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body style="direction:rtl;">
    <h1>
        سلام @Model.Name @Model.Family
    </h1>
    <h2>این یک خروجی View است.</h2>
</body>
</html>
