@using MVCDemo.Models
@{
    Layout = null;

    var pageTitle = "لیست زبان های برنامه نویسی";

    List<string> names = new List<string>();

    names.Add("C#");
    names.Add("Java");
    names.Add("JavaScript");
    names.Add("TypeScript");
    names.Add("PHP");

    Person p = new Person();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@pageTitle</title>
</head>
<body>
    <div> 
        <ul>
            @if (names.Count > 3)
            {
                foreach (var item in names)
                {
                    <li>@item</li>
                }
            }
        </ul>
        farhangv@live.com
        @@farhangv
        @(DateTime.Now.Hour <= 7 ? "In Class" : "Class is finished")
    </div>
</body>
</html>
