body {
    direction:rtl;
}
div{
    width: 80px;
    height:80px;
    border:1px solid #4cff00;
}
.no-float{
    float:none;
}
.right-float{
    float:right;
}
.left-float{
    float:left;
}
.clear-right{
    clear:right;
}
.clear-left{
    clear:left;
}
.clear-both{
    clear:both;
}


