
@{
    ViewBag.Title = "افزودن نوع ملک جدید";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>
<hr/>
<div class="row">
    @using (Html.BeginForm())
    {
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.Label("Name", "نام" ,new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("Name","", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-success btn-sm pull-left" type="submit">
                    ذخیره
                </button>
            </div>
        </div>
    </div>
    }
</div>
