
@{
    ViewBag.Title = "ثبت کاربر";
}

<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="Name" class="control-label col-md-2">نام</label>
        <div class="col-md-10">
            <input class="form-control" id="Name" name="Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="Family" class="control-label col-md-2">نام خانوادگی</label>
        <div class="col-md-10">
            <input class="form-control" id="Family" name="Family" />
        </div>
    </div>

    <div class="form-group">
        <label for="Age" class="control-label col-md-2">سن</label>
        <div class="col-md-10">
            <input class="form-control" id="Age" name="Age" />
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-sm pull-left">
            ذخیره
            <span class="fa fa-save"></span>
        </button>
    </div>
</form>

 